{% extends '::base_email_new.html.twig' %}
{% trans_default_domain 'messages' %}

{% block content %}
  <!-- head -->
  <div class="column-width" style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:660px;">

    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
      <tbody>
      <tr>
        <td style="direction:ltr;padding:0px;padding-top:20px;text-align:center;">


          <div class="mj-column-per-100 outlook-group-fix" style="text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">

            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
              <tbody>
              <tr>
                <td style="vertical-align:top;padding:0px;">

                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">

                    <tr>
                      <td align="center" style="padding:10px 30px;word-break:break-word;">

                        <div style="font-family:'Titilium Web',Helvetica, Arial, sans-serif;font-size:20px;line-height:2;text-align:center;color:#4F4F4F;"><strong style="font-color:#4F4F4F;" class="title-text">Hi {{customer.firstName}}, <br /> Pesanan Anda Telah Dikirim</strong></div>

                      </td>
                    </tr>

                  </table>

                </td>
              </tr>
              </tbody>
            </table>

          </div>

        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <!-- head -->

  <!-- head order caption -->
  <div class="column-width" style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:660px; font-size:18px;line-height:1;text-align:center;color:#4F4F4F;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
      <tbody>
      <tr>
        <td style="direction:ltr;padding:20px 20px 0 20px;text-align:center;">
          <div class="mj-column-per-100 outlook-group-fix">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateColumns">
              <tr>
                <td align="center" valign="top" width="50%">
                  <table border="0" cellpadding="10" cellspacing="0" width="100%">
                    <tr>
                      <td style="font-size: 18px;">
                        <strong class="subtitle-text"><span>Detail Pesanan</span></strong>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- head order caption -->

  <div class="column-width" style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:660px;color:#4F4F4F;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
      <tbody>
      <tr>
        <td style="direction:ltr;padding:20px 20px 0 20px;text-align:center;">
          <div class="mj-column-per-100 outlook-group-fix">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateColumns">
              <tr style="border-top:1px solid #F5F5F5; border-bottom:1px solid #F5F5F5; ">
                <td align="center" valign="top" width="50%">
                  <table border="0" cellpadding="10" cellspacing="0" width="100%">
                    <tr>
                      <td class="bit-smaller-on-mobile">
                        <p>No Pesanan</p>
                        <p><b>{{ order.orderNumber }}</b></p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  {% for invoice in invoices %}
    <!-- head invoice -->
    <div class="column-width" style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:660px;color:#4F4F4F;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
        <tbody>
        <tr>
          <td style="direction:ltr;padding:20px 20px 0 20px;text-align:center;">
            <div class="mj-column-per-100 outlook-group-fix">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateColumns">
                <tr>
                  <td align="center" valign="top" width="40%">
                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                      <tr>
                        <td style="color:#4F4F4F" class="bit-smaller-on-mobile">
                          Invoice
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td align="center" valign="top" width="60%">
                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                      <tr>
                        <td style="color:#4F4F4F" class="bit-smaller-on-mobile">
                          <b>{{ invoice.invoiceNumber}}</b>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
            <div class="mj-column-per-100 outlook-group-fix">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateColumns">
                <tr>
                  <td align="center" valign="top" width="40%">
                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                      <tr>
                        <td style="color:#4F4F4F" class="bit-smaller-on-mobile">
                          Kurir
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td align="center" valign="top" width="60%">
                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                      <tr>
                        <td style="color:#4F4F4F" class="bit-smaller-on-mobile">
                          <b>{{ invoice.delivery.carrier.name}}</b>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
            <div class="mj-column-per-100 outlook-group-fix">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateColumns">
                <tr>
                  <td align="center" valign="top" width="40%">
                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                      <tr>
                        <td style="color:#4F4F4F" class="bit-smaller-on-mobile">
                          Nomor Resi
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td align="center" valign="top" width="60%">
                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                      <tr>
                        <td style="color:#4F4F4F" class="bit-smaller-on-mobile">
                          <b>{{ invoice.delivery.trackingNumber}}</b>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
            <div class="mj-column-per-100 outlook-group-fix">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateColumns">
                <tr>
                  <td align="center" valign="top" width="40%">
                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                      <tr>
                        <td style="color:#4F4F4F" class="bit-smaller-on-mobile">
                          Tanggal Pengiriman
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td align="center" valign="top" width="60%">
                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                      <tr>
                        <td style="color:#4F4F4F" class="bit-smaller-on-mobile">
                          <b>{{ invoice.delivery.deliveryDate | locale_date({format: 'EEEE, d LLLL y, HH.mm'})}} WIB</b>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- head invoice -->

    <!-- list products -->
    <div class="column-width" style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:660px;color:#4F4F4F;">

      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
        <tbody>
        <tr>
          <td style="direction:ltr;padding:20px 20px 0 20px;text-align:center;">
            {% for invoiceProduct in invoice.products %}
              <div style="margin-top:0;margin-bottom:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;border-bottom:1px solid #F5F5F5;"></div>

              <div class="mj-column-per-100 outlook-group-fix">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateColumns">
                  <tr>
                    <td align="center" valign="top" width="20%">
                      <table border="0" cellpadding="10" cellspacing="0" width="100%">
                        <tr>
                          <td class="leftColumnContent" style="padding-top: 0;">
                            <img src="{{ invoiceProduct.image.thumbnailUrl }}" width="100px" height="100px" style="min-width: 80px;max-width:80px;min-width:80px;border-radius: 10px;" class="columnImage" />
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td align="center" valign="top" width="80%">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateColumns">
                        <tr>
                          <td align="center" valign="top" width="80%" class="templateColumnContainer">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tr>
                                <td class="leftColumnContent">
                                  <p style="color: #4F4F4F; margin-top: 0" class="bit-smaller-on-mobile"><b>{{ invoiceProduct.name }}</b></p>
                                  {% if invoiceProduct.option != "" %}
                                    <p style="color: #828282;" class="smaller-on-mobile">{{ invoiceProduct.option }}</p>
                                  {% endif %}
                                  <p style="color: #4F4F4F;" class="bit-smaller-on-mobile">x{{ invoiceProduct.quantity }} Rp. {{ invoiceProduct.price | number_format(0, ',', '.')}}</p>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td align="right" valign="top" width="20%" class="templateColumnContainer">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tr>
                                <td class="rightContent">
                                  <p style="margin-top: 0" class="bit-smaller-on-mobile">Rp. {{ (invoiceProduct.price * invoiceProduct.quantity) | number_format(0, ',', '.')}}</p>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            {% endfor %}
            <div style="margin-top:0;margin-bottom:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;border-bottom:1px solid #F5F5F5;"></div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- list products -->
  {% endfor %}

  <!-- lacak button -->
  <div class="mj-column-per-100 outlook-group-fix" style="text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">

    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
      <tbody>
      <tr>
        <td style="vertical-align:top;padding:0px;padding:20px;padding-bottom:20px; ">

          <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">

            <tr>
              <td align="center" vertical-align="middle" style="padding:0px;word-break:break-word;">

                <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:separate;line-height:100%;">
                  <tr>
                    <td align="center" role="presentation" style="border:none;border-radius:10px;cursor:auto;mso-padding-alt:12px 80px;" valign="middle">
                      <a class="btn" href="{{ web_host ~ path('customer_order_show_no_locale', {orderNumber: order.orderNumber}) }}" target="_blank" style="background:#ED9121;display:inline-block;color:white;font-family:'Titilium Web',Helvetica, Arial, sans-serif;font-size:16px;font-weight:normal;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:12px 100px;mso-padding-alt:0px;border-radius:10px;">
                        <strong style="font-color:#FFFFFF;" class="mediun-on-mobile">Lihat Pesanan</strong>
                      </a>
                    </td>
                  </tr>
                </table>

              </td>
            </tr>

          </table>

        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <!-- text info -->
  <div class="column-width" style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:660px;">

    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
      <tbody>
      <tr>
        <td style="direction:ltr;padding:0px;text-align:center;">


          <div class="mj-column-per-100 outlook-group-fix" style="text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">

            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
              <tbody>
              <tr>
                <td style="vertical-align:top;padding:0px;">

                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">

                    <tr>
                      <td align="center" style="padding:10px 30px;word-break:break-word;text-align:center;">

                        <div style="font-family:'Titilium Web',Helvetica, Arial, sans-serif;font-size:16px;line-height:35px;text-align:center;color:#4F4F4F;" class="medium-on-mobile">Anda dapat melacak pesanan Anda minimal 1 x 24 jam setelah menerima email ini!</div>

                      </td>
                    </tr>

                  </table>

                </td>
              </tr>
              </tbody>
            </table>

          </div>

        </td>
      </tr>
      </tbody>
    </table>

  </div>
{% endblock %}
